---
import BaseLayout from "../../layout/default.astro";
import { getCollection, render } from "astro:content";
import "../../style/project-content.css";
import Button from "../../components/Button.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<BaseLayout pageTitle={project.data.title}>
  <main class="project-page">
    <section class="project-intro">
      <Breadcrumbs
        items={[
          { href: "/", label: "Accueil" },
          { href: "/projets", label: "Projets" },
        ]}
        current={project.data.title}
      />
      <h1>{project.data.title}</h1>

      {
        project.data.image && (
          <img
            class="project-intro__image"
            src={project.data.image}
            alt={project.data.title}
          />
        )
      }

      {
        project.data.description && (
          <p>
            {project.data.description}{" "}
            <a href={project.data.externalLink}>{project.data.externalText}</a>
          </p>
        )
      }
    </section>
    <article class="project-markdown">
      <Content />
    </article>
  </main>
</BaseLayout>
